body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    display: block;
    width: 250px;
    margin: auto;
    border: dashed #FFFFFF 10px;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;

}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-right: none;
    border-left: 5px solid;
    border-top: none;
}

.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-left: none;
    border-top: 2px solid;
    border-bottom: none;
}

.blue h2{
    color:#C4C4C4;
}

.blue p{
    color:#C4C4C4;
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid;
    border-left: 5px solid;
    border-top: none;
    border-right: none;

}

.yellow p{
    color:#707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid;
    border-top: 2px solid;
    border-left: none;
}

footer{
    background: linear-gradient(90deg, rgb(0,0,0,1) 0%, rgb(0,0,255,1) 25%, rgb(0,102,255,1) 70%, rgb(0,0,0,1));
    border: solid #FFFFFF 5px;
}

footer > p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}